<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.miun.android_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Bluetooth Permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Set app requirement to bluetooth low energy only -->
    <uses-feature android:name="android.hardware.bluetooth_le" />
    <!-- Require access to position (needed for beacon scans -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".testing.ImageTestActivity" />
        <activity android:name=".testing.RangetestActivity" />
        <activity android:name=".testing.RetrofitTestActivity" />
        <activity android:name=".EmployeeLayoutActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".testing.OnTouchTestActivity" />
        <!-- <activity android:name=".CreateAccountActivity" /> -->
        <activity android:name=".RegisterAccountActivity" />
        <activity android:name=".testing.BluetoothLogger" />
        <activity android:name=".EmployeeUnit.EmployeeUnitActivity" />
        <activity android:name=".MasterUnit.MasterUnitActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".testing.ServiceTestActivity"></activity>
    </application>

</manifest>